html, body, #page {
	height: 100%;
}

.logo {
    display: block;
    text-indent: -100000px;
    background: url(../images/logo.png) center top no-repeat;
    width: 250px;
    height: 180px;
    background-size: contain;
}

.banner {
	width: 100%;
}
.is__red {
	background: $lightPrimaryColor;
	* {
		color: $white;
	}
}
.is__brown {
    background: #e7dec6;
}
.section--divider-hr {
    box-sizing: content-box;
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid $primaryColor;
    margin: $defaultMargin;
    padding: 0;
}
.section--header {
	margin-top: -$defaultMargin * 1.5;
}
.maps-contact {
    position: relative;
    width: 100%;
    .mapBox {
        .mapwrapper {
            height: 570px;
            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .maps-contact .mapBox .mapwrapper {
        height:240px;
    }
}

.maps-contact hr {
    border-color:#000;
    padding:0px;
    margin:0px;
}
.maps-contact p {
    padding-bottom:4px;
    margin-bottom:0px;
}
.maps-contact p.contact-label {
    color:#000;
    padding-top:0px;
    margin-top:0px;
    padding-bottom:17px;
}
.maps-contact .mapBoxOverlayer {
    position: absolute;
    top:0;
    left:0;
    width:100%;
}


@media (max-width: 768px) {
    .maps-contact .mapBoxOverlayer {
        position: relative;
        padding-top:0px;
    }
}

.maps-contact .hoverMap {
    /*border:1px solid blue;*/
}



